API_ID=your_api_id_here
API_HASH=your_api_hash_here
BOT_TOKEN=your_bot_token_here
SESSION_STRING=your_session_string_here
LOG_ID=your_log_group_id_here
OWNER_ID=your_telegram_user_id_here
API_KEY=your_api_key_here
NEXGENBOTS_API=https://pvtz.nexgenbots.xyz
VIDEO_API_URL=https://pvtz.nexgenbots.xyz
